
body

{
    max-width: 800px;
    margin:auto;
    background-color:aqua;
    background-image:url(mediaback.jpg);
}

p

{
    color:red;
    font-size:x-large;
    font-family:'Times New Roman', Times, serif;
    
}